.caixa {
  background-color: #3f51b5;
}

.titulo {
  color: white !important;
  font-weight: bold;
}

.botao {
  color: white !important;
  border-color: white !important;
  background-color: #3f51b5;
}
.postagens {
  background-color: white;
}

/* Entenda como acontece a conexão do React com arquivos css */
/* Linha 7: transforma a imagem em um block
   Linha 10: vai centralizar a imagem
   
*/
